Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@AndriyGu 
IT-Academy-Social-Projects-KRV
/
Mentor4you_Java
Public
2
0
1
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
Mentor4you_Java/.gitignore

Andrii New ".gitignore" file was added.
Latest commit dd8bc04 on 11 Aug
 History
 0 contributors
83 lines (68 sloc)  1.16 KB
   
### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ
# User-specific stuff
out/
.idea/
*.iws
*.iml
*.ipr


# mpeltonen/sbt-idea plugin
.idea_modules/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Single Module Project
/.externalToolBuilders/
/.settings/
/.metadata/
/.recommenders/
/target/
/bin/
/build/
/doc/
/lib/
/test-output/
/allure-results/
/.classpath
/.project
/.checkstyle
/reports/
/.idea/
*.ucls


### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
